<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: chocolate;
        /*background-color: #390fa9;*/
        color: white;
        text-align: center;
        height: 75px;
        display: flex;
    }

    .footer > div {
        width: 33%;
    }
</style>
<body>
<div class="footer">
    <div class="adres">
        Adres
    </div>

    <div class="mapa">
        Mapa
    </div>

    <div class="spolecznosc">
        <b><i class="ui-icon-heart">Ikona</i></b>
    </div>
</div>
</body>
</html>